# Ignoriere alle .git-Verzeichnisse innerhalb von tmux/plugins
tmux/.tmux/plugins/*/.git

# Ignoriere allgemeine Git-bezogene Dateien in allen Unterverzeichnissen
tmux/.tmux/plugins/*/.gitmodules
tmux/.tmux/plugins/*/.gitattributes
tmux/.tmux/plugins/*/.gitignore
tmux/.tmux/plugins/*/.github

# Ignore macOS system files
.DS_Store
fastfetch/**/.DS_Store
fastfetch/.DS_Store
sketchybar/.config/.DS_Store
tmux/.DS_Store
tmux/.tmux/plugins/.DS_Store

# Ignore Weather_API_Key
sketchybar/.config/sketchybar/scripts/weather.env.sh

# ignore .git in yazi
yazi/.config/yazi/plugins/lazygit.yazi/.git
yazi/.config/.DS_Store
yazi/.config/yazi/.DS_Store
yazi/.DS_Store

# stow local
.stow-local-ignore
yazi/.stow-local-ignore
yazi/.config/yazi/.DS_Store
