# Ignoriere alle .git-Verzeichnisse innerhalb von tmux/plugins
tmux/.tmux/plugins/*/.git

# Ignoriere allgemeine Git-bezogene Dateien in allen Unterverzeichnissen
tmux/.tmux/plugins/*/.gitmodules
tmux/.tmux/plugins/*/.gitattributes
tmux/.tmux/plugins/*/.gitignore
tmux/.tmux/plugins/*/.github

# Ignore macOS system files
.DS_Store
fastfetch/**/.DS_Store
fastfetch/.DS_Store
sketchybar/.config/.DS_Store
tmux/.DS_Store
tmux/.tmux/plugins/.DS_Store

# Ignore Weather_API_Key
sketchybar/.config/sketchybar/scripts/weatherapi.env
